* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
    font-family: 'Aire Exterior';
    src: url(../assets/fonts/AireExterior.ttf);
}

body {
    background: #141C24;
    color: #fff;
    display: flex;
    align-items: center;
}

section.confirm {
    width: 836px;
    margin: auto;
    margin-top: 230px;

}

section.confirm .container .row .col .heading {
    align-items: center;
    margin-bottom: 65px;

}

section.confirm .container .row .col .heading h1 {
    font-family: 'Aire Exterior';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    margin: auto;
}

section.confirm .container .row .col .heading i {
    font-size: 39px;
    color: #fff;

}

section.confirm .container .row .col p {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #ABABAB;
}